@tailwind base;
@tailwind components;
@tailwind utilities;

/* Brand custom styles */
:root {
  --color-acme: #134e6f;
  --color-acme-light: #61a5c2;
  --color-acme-accent: #ffbe40;
}

html {
  scroll-behavior: smooth;
}